/* ################# */
/* GENERALE SETTINGS */
/* ################# */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(202, 202, 202);
}


/* ########## */
/* MIDDLE BOX */
/* ########## */
.in-all-box-middle {
    width: 70%;
    height: 98vh;
}
.in-box-middle{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}


